terraform {
  backend "s3" {
    bucket  = "REPLACE_ME_NOCTUA_TERRAFORM_BUCKET"
    profile = "default"
    key     = "noctua_app_stack/terraform.tfstate"
    region  = "us-east-1"
    encrypt = true
  }
}

