ssh_keys:
     public: /tmp/go-ssh.pub
     private: /tmp/go-ssh

instance:
    tags:
       ## Tracking tag.
       #Name: noctua-production-YYYY-MM-DD
       #Name: noctua-development-YYYY-MM-DD
    instance_type: t2.2xlarge
    use_elastic_ip: True

    ## DNS targets:
    #dns_record_name: ["noctua-production-YYYY-MM-DD.geneontology.org", "barista-production-YYYY-MM-DD.geneontology.org"]
    #dns_record_name: ["noctua-development-YYYY-MM-DD.geneontology.io", "barista-development-YYYY-MM-DD.geneontology.io"]
    ## DNS zones
    ## Production
    #dns_zone_id: "Z04640331A23NHVPCC784"
    ## Development
    #dns_zone_id: "Z1SMAYFNVK75BZ"

    open_ports:
       - 80
       - 22
       - 443
    disk_size: 100
