ssh_keys:
     public: /tmp/go-ssh.pub
     private: /tmp/go-ssh

stack:
   vars:
     stage_dir: /home/ubuntu/stage_dir
     PROD_MODE: 1 
     docker_hub_user: geneontology
     tag: v2 

     S3_CRED_FILE: /tmp/go-aws-credentials
     S3_BUCKET: REPLACE_ME_CERT_BUCKET

     USE_QOS: 1
     QS_ClientEventBlockCount: "350 300"
     QS_ClientEventBlockExcludeIP: "9.9.9.9"

     USE_SSL: 1
     S3_SSL_CERTS_LOCATION: s3://REPLACE_ME_CERT_BUCKET/REPLACE_ME_DOMAIN.tar.gz

     BLAZEGRAPH_JOURNAL: REPLACE_ME

     noctua_host: REPLACE_ME # aes-test-noctua.geneontology.io
     noctua_lookup_url: REPLACE_ME # http://aes-test-noctua.geneontology.io


     # HTTP OR HTTPS
     barista_protocol: https
     github_client_id: 'REPLACE_ME'
     github_client_secret: 'REPLACE_ME'

     github_callback_url: REPLACE_ME # https://aes-test-barista.geneontology.io/auth/github/callback
     golr_lookup_url: REPLACE_ME # https://aes-test-golr.geneontology.io/solr

     barista_lookup_host: REPLACE_ME # aes-test-barista.geneontology.io
     barista_lookup_url: REPLACE_ME # https://aes-test-barista.geneontology.io
   scripts: [ stage.yaml, start_services.yaml]
