ssh_keys:
     public: REPLACE_ME
     private: REPLACE_ME

stack:
   vars:
     # PRODUCTION MODE
     PROD_MODE: 1 

     # Stage directory on the ubuntu machine running on aws
     stage_dir: /home/ubuntu/stage_dir

     # images for noctua, barista and minerva
     docker_hub_user: geneontology
     tag: v2 

     # DNS hostname for noctua
     noctua_host: aes-test-noctua.geneontology.io

     # DNS hostname for barista
     barista_lookup_host: aes-test-barista.geneontology.io

     # url for golr 
     golr_lookup_url: http://noctua-golr.berkeleybop.org 

     # Used to upload apache proxy logs to s3 bucket
     S3_CRED_FILE: REPLACE_ME
     S3_BUCKET: go-service-logs

     # Used to download ssl credentials from s3 buckets. (full s3 uri .tar.gz)
     USE_SSL: 1
     S3_SSL_CRED_FILE: REPLACE_ME
     S3_SSL_CERTS_LOCATION: REPLACE_ME

     # Enable QOS
     USE_QOS: 1
     QS_ClientEventBlockCount: "350 300"
     QS_ClientEventBlockExcludeIP: "REPLACE_ME_ADDR1 REPLACE_ME_ADDR2"

     # OAUTH
     github_client_id: 'REPLACE_ME'
     github_client_secret: 'REPLACE_ME'

     # Location of blazegraph.jnl
     BLAZEGRAPH_JOURNAL: REPLACE_ME

   scripts: [ stage.yaml, start_production_services.yaml ]
