ssh_keys:
     public: /tmp/go-ssh.pub
     private: /tmp/go-ssh

instance:
    tags:
       Name: amigo_noctua_stack
    instance_type: t2.xlarge
    open_ports:
       - 80
       - 22
       - 443
    disk_size: 100 
