ssh_keys:
     public: /tmp/go-ssh.pub
     private: /tmp/go-ssh

stack:
   vars:
     stage_dir: /home/ubuntu/stage_dir
     PROD_MODE: 1

     apache_proxy_image: geneontology/apache-proxy:v6

     S3_CRED_FILE: /tmp/go-aws-credentials
     S3_BUCKET: REPLACE_ME_APACHE_LOG__BUCKET

     USE_QOS: 0
     QS_ClientEventBlockCount: 350 
     QS_ClientEventBlockCountSeconds: 300
     QS_ClientEventBlockExcludeIP: "8.8.8.8 9.9.9.9"

     minerva_java_opts: "-Xmx24G"

     USE_SSL: 1
     S3_SSL_CERTS_LOCATION: s3://REPLACE_ME_CERT_BUCKET/REPLACE_ME_DOMAIN.tar.gz
     
     
     # download or create journal locally and specify full path here.
     # cd /tmp && wget http://skyhook.berkeleybop.org/blazegraph-20230611.jnl
     # see production/gen_journal.sh.sample to generate one
     BLAZEGRAPH_JOURNAL: REPLACE_ME_FILE_PATH # /tmp/blazegraph-20230611.jnl

     # HTTPS
     noctua_host: REPLACE_ME # noctua.geneontology.org or noctua.geneontology.io
     noctua_host_alias: REPLACE_ME # noctua-production-2024-10-15.geneontology.org or aes-noctua-test-2024-10-15.geneontology.io
     noctua_lookup_url: REPLACE_ME # https://noctua-production-2024-10-15.geneontology.org or https://aes-noctua-test-2024-10-15.geneontology.io
     golr_neo_lookup_url: REPLACE_ME # https://golr-aux.geneontology.org/solr/ or https://golr-aux.geneontology.io/solr/


     # HTTPS
     github_client_id: 'REPLACE_ME'
     github_client_secret: 'REPLACE_ME'
     github_callback_url: REPLACE_ME # barista-production-2024-10-15.geneontology.org/auth/github/callback or https://aes-barista-test-2024-10-15.geneontology.io/auth/github/callback

     # HTTPS
     golr_lookup_url: REPLACE_ME #  https://golr-aux.geneontology.org/solr/ or https://golr-aux.geneontology.io/solr/

     # HTTP OR HTTPS
     barista_lookup_host: REPLACE_ME # barista-production-2024-10-15.geneontology.org or aes-barista-test-2024-10-15.geneontology.io
     barista_lookup_host_alias: REPLACE_ME barista-production-2024-10-15.geneontology.org or am-barista-test-2024-10-15.geneontology.io
     barista_lookup_url: REPLACE_ME #  https://barista-production-2024-10-15.geneontology.org or https://am-barista-test-2024-10-15.geneontology.io

     USE_CLOUDFLARE: 0
   scripts: [ stage.yaml, start_services.yaml]
