ssh_keys:
     public: REPLACE_ME
     private: REPLACE_ME

instance:
    tags:
       Name: noctua_stack
    instance_type: t2.large
    open_ports:
       - 80
       - 22
       - 443
    disk_size: 100 
